@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: #171717;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #13911c;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #8f8f8f #f1f1f1;
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.navLink {
  text-transform: uppercase;
  /* color: goldenrod; */
}

.subLink {
  text-transform: capitalize;
  color: goldenrod;
  margin: 0 1rem 0 1rem;
}

.navLink:hover,
.subLink:hover {
  font-weight: 500;
  transition-duration: 5000ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  cursor: pointer;
}
.footer:hover {
  color: goldenrod;
  padding-left: 4px;
  transition: transform 5000ms ease-in;
}

.blinking-text {
  font-size: 1.25rem;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1; /* Hiển thị chữ */
  }
  50% {
    opacity: 0; /* Ẩn chữ */
  }
}
.card:hover {
  z-index: 1;
  transform: scale(1.05);
  transition: transform 0.5s ease, opacity 0.5s ease;
  cursor: pointer;
}

.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #4f46e5 !important;
}
