@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: #171717;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.navLink {
  text-transform: uppercase;
  color: goldenrod;
  margin: 0 1rem 0 1rem;
}

.subLink {
  text-transform: capitalize;
  color: goldenrod;
  margin: 0 1rem 0 1rem;
}

.navLink:hover,
.subLink:hover {
  font-weight: 500;
  border-bottom: 2px solid #4f94dd;
  transition-duration: 2000ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
